{
  "extends": ["stylelint-config-standard-scss"],
  "rules": {
    "block-no-empty": true,
    "color-no-invalid-hex": true,
    "color-hex-length": "short",
    "property-no-vendor-prefix": null,
    "length-zero-no-unit": null
  }  
}
