*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    background-color: $subtleBg;
    color: $defaultFont;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    transition: 0.1s linear;

    &:hover {
        color: $primary;
    }
}

p {
    margin: 2rem 0;
    line-height: 1.4em;

    &:last-of-type {
        margin-bottom: 0;
    }
}

h1,
h2 {
    margin-bottom: 4rem;
    max-width: 100%;
    line-height: 1.1em;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-sized {
    height: 100vh;
    width: 100%;
}